<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <h1 class="text_h center header cd-headline letters type">
      <span>I Love</span> 
      <span class="cd-words-wrapper waiting">
        <b class="is-visible">creating</b>
        <b>programing</b>
        <b>developing</b>
      </span>
    </h1>
  </div>
</div>

<!--Intro and service-->
<div id="intro" class="section scrollspy">
  <div class="container">
    <div class="row">
      <div  class="col s12">
        <h2 class="center header text_h2"> <span class="span_h2">기술적 장벽</span> 때문에 본인의 생각을<br> <span class="span_h2">세상 밖으로</span> 표현하지 못하신 분들을 위한 <span class="span_h2">프로그래밍 교육 동아리</span> </h2>
      </div>
      <div  class="col s12 m4 l4">
        <div class="center promo promo-example">
          <i class="material-icons">desktop_windows</i>
          <h5 class="promo-caption">웹 프로그래밍을 배웁니다</h5>
          <p class="light center">
          웹 서비스를 이루고 있는 프론트앤드(HTML/CSS, js)와 백앤드(RoR)를 만드는 법을 배웁니다<br>
          </p>
        </div>
      </div>
      <div class="col s12 m4 l4">
        <div class="center promo promo-example">
          <i class="material-icons">lightbulb_outline</i>
          <h5 class="promo-caption">생각을 실현합니다</h5>
          <p class="light center">꿈꿔왔던 자신만의 웹 서비스를 스스로 만들 수 있게 됩니다</p>
        </div>
      </div>
      <div class="col s12 m4 l4">
        <div class="center promo promo-example">
          <i class="material-icons">people</i>
          <h5 class="promo-caption">값진 기회를 경험합니다</h5>
          <p class="light center">창업, 스타트업 관련 경험을 하고 관련된 사람들과 소통할 수 있는 기회를 얻을 수 있습니다</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Work-->
<div class="section scrollspy" id="work">
  <div class="container">
    <h2 class="header text_b">한일들 </h2>
    <div class="row">
      <!--
      <div class="col s12 m4 l4">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="img/project1.jpg">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Project Title <i class="mdi-navigation-more-vert right"></i></span>
            <p><a href="#">Project link</a></p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Project Title <i class="mdi-navigation-close right"></i></span>
            <p>Here is some more information about this project that is only revealed once clicked on.</p>
          </div>
        </div>
      </div>
      -->
    </div>
  </div>
</div>

<!--Parallax-->
<div class="parallax-container">
  <div class="parallax"><img src="<%= asset_path('main_background_image.jpg') %>"></div>
</div>

<!--Team-->
<div class="section scrollspy" id="team">
  <div class="container">
    <h2 class="header text_b"> Our Team </h2>
    <div class="row">
      <div class="col s12 m3">
        <div class="card card-avatar">
          <div class="waves-effect waves-block waves-light">
            <img class="activator" src="img/avatar1.png">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Flash <br/>
              <small><em><a class="red-text text-darken-1" href="#">CEO</a></em></small></span>
            <p>
            <a class="blue-text text-lighten-2" href="https://www.facebook.com/joash.c.pereira">
              <i class="fa fa-facebook-square"></i>
            </a>
            <a class="blue-text text-lighten-2" href="https://twitter.com/im_joash">
              <i class="fa fa-twitter-square"></i>
            </a>
            <a class="blue-text text-lighten-2" href="https://plus.google.com/u/0/+JoashPereira">
              <i class="fa fa-google-plus-square"></i>
            </a>
            <a class="blue-text text-lighten-2" href="https://www.linkedin.com/in/joashp">
              <i class="fa fa-linkedin-square"></i>
            </a>
            </p>
          </div>
        </div>
      </div>
      <div class="col s12 m3">
        <div class="card card-avatar">
          <div class="waves-effect waves-block waves-light">
            <img class="activator" src="img/avatar2.png">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Cat Woman<br/>
              <small><em><a class="red-text text-darken-1" href="#">Designer</a></em></small>
            </span>
            <p>
            <a class="blue-text text-lighten-2" href="https://www.facebook.com/joash.c.pereira">
              <i class="fa fa-facebook-square"></i>
            </a>
            <a class="blue-text text-lighten-2" href="https://twitter.com/im_joash">
              <i class="fa fa-twitter-square"></i>
            </a>
            <a class="blue-text text-lighten-2" href="https://plus.google.com/u/0/+JoashPereira">
              <i class="fa fa-google-plus-square"></i>
            </a>
            <a class="blue-text text-lighten-2" href="https://www.linkedin.com/in/joashp">
              <i class="fa fa-linkedin-square"></i>
            </a>
            </p>
          </div>
        </div>
      </div>
      <div class="col s12 m3">
        <div class="card card-avatar">
          <div class="waves-effect waves-block waves-light">
            <img class="activator" src="img/avatar3.png">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">
              Capt. America <br/>
              <small><em><a class="red-text text-darken-1" href="#">CMO</a></em></small></span>
            <p>
            <a class="blue-text text-lighten-2" href="https://www.facebook.com/joash.c.pereira">
              <i class="fa fa-facebook-square"></i>
            </a>
            <a class="blue-text text-lighten-2" href="https://twitter.com/im_joash">
              <i class="fa fa-twitter-square"></i>
            </a>
            <a class="blue-text text-lighten-2" href="https://plus.google.com/u/0/+JoashPereira">
              <i class="fa fa-google-plus-square"></i>
            </a>
            <a class="blue-text text-lighten-2" href="https://www.linkedin.com/in/joashp">
              <i class="fa fa-linkedin-square"></i>
            </a>
            </p>
          </div>
        </div>
      </div>
      <div class="col s12 m3">
        <div class="card card-avatar">
          <div class="waves-effect waves-block waves-light">
            <img class="activator" src="img/avatar4.png">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Robin<br/>
              <small><em><a class="red-text text-darken-1" href="#">Developer</a></em></small></span>
            <p>
            <a class="blue-text text-lighten-2" href="https://www.facebook.com/joash.c.pereira">
              <i class="fa fa-facebook-square"></i>
            </a>
            <a class="blue-text text-lighten-2" href="https://twitter.com/im_joash">
              <i class="fa fa-twitter-square"></i>
            </a>
            <a class="blue-text text-lighten-2" href="https://plus.google.com/u/0/+JoashPereira">
              <i class="fa fa-google-plus-square"></i>
            </a>
            <a class="blue-text text-lighten-2" href="https://www.linkedin.com/in/joashp">
              <i class="fa fa-linkedin-square"></i>
            </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
$(document).ready(function(){
    $('.parallax').parallax();
});
</script>
