<style>
@media only screen and (min-width: 993px)
.container {
  width: 70%;
}
@media only screen and (min-width: 601px)
.container {
  width: 85%;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}

.center {
  text-align: center;
}

.responsive-img {
  max-width: 100%;
}
</style>
<div class="container center">
  <img class="responsive-img" src="https://s3-ap-northeast-1.amazonaws.com/elasticbeanstalk-ap-northeast-1-333651109092/%EA%B7%B8%EB%A6%BC1.png">
</div>
