<div class="container" style="width: 75%">
  <div class="row">
    <h1> 아이디어 업로드</h1>
    <%= form_tag "/assignment/upload_proc", class: "col s12", multipart: true do %>
      <div class="row">
        <div class="input-field col s12">
          <input id="idea_title" name="idea_title" type="text" class="validate">
          <label for="idea_title" style="font-size:150%;">아이디어 제목</label>
        </div>
      </div>
      <div class="row">
        <div class="col s12 file-field input-field">
          <div class="btn">
            <span>File</span>
            <input type="file" accept="image/*" name="img">
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="git_url" type="url" class="validate" name="git_url" style="font-size:150%;">
          <label for="git_url" style="font-size:150%;">URL(Proto-type)</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <textarea id="comment" name="comment" class="materialize-textarea" style="padding: 1rem 0; font-size:150%;"></textarea>
          <label for="comment" style="font-size:150%;">아이디어 설명</label>
        </div>
      </div>
      <div class="row">
        <div class="col s12 center" style="margin-bottom:10%;">
          <input class="btn" type="submit" name="action" value="Submit">
        </div>
      </div>
    <% end %>
  </div>
</div>
</div>
