<div class="container">
  <h1>안녕 운영진!</h1>
  <div class="center">
    <h3><%= link_to "과제 만들기", "/admin/set_assignment" %></h3><br>
    <h3><%= link_to "팀짜기", "/admin/team_lotto" %></h3><br>
    <h3><%= link_to "팀점수 주기", "/admin/rank_team" %></h3><br>
  </div>
</div>
