<div class="container">
  <h1>안녕 운영진!</h1>
  <div class="center">
    <%= link_to "과제 만들기", "/admin/set_assignment" %><br>
    <%= link_to "팀짜기", "/admin/team_lotto" %><br>
    <%= link_to "팀순위 매기기", "/admin/rank_team" %>
  </div>
</div>
