<div class="container">
  <h1>안녕 운영진!</h1>
  <div class="center">
<<<<<<< HEAD
    <%= link_to "과제 만들기", "/admin/set_assignment" %>
=======
    <%= link_to "과제 만들기", "/admin/set_assignment" %><br>
    <%= link_to "팀짜기", "/admin/team_lotto" %>
>>>>>>> b801a4f23cae0234c49fc7e14c078aa72679ca26
  </div>
</div>
