<div class="container">
  <h1>팀랭킹 매기기</h1>
      <div class="row">
        <div class="input-field col s12">
          <select id="week" name="week">
            <option value="" disabled selected>주차를 선택하세요</option>
            <% Team.all.each do |item| %>
              <option value="<%= item.week %>"><%= item.week %></option>
            <% end %>
          </select>
          <%= form_tag "/admin/rank_team_proc", class: "col s12", multipart: true do %>          
            <p id="assign_description"></p>
          <% end %>
        </div>
      </div>
</div>


<script>
$(document).ready(function() {
  $('select').material_select();

  $('#week').change(function(){
    console.log($(this).val());
    $.ajax({
      url: '/admin/team_info',
      dataType: 'json',
      data: {
        week: $(this).val()
      },
      success: function(data){
        console.log(data.num.length);
        for(i=0; i<5; i++) {
          
          $('#assign_description').text(data.num[i]);
        }
      },
      error: function(){
        $('#assign_description').text("에러가 발생했습니다");
      }
    });
  });
});

</script>
