<div class="container-fluid" style="margin-top: 5rem; margin-bottom: 5rem;">
  <div class="row">
    <div class="col s12 center" style="height: 9rem;">
      <h3 id="roulette">운명의 조추첨</h3>
      <h3 id="picked"></h3>
    </div>
    <div class="col s12 center">
      <div id="count_down" style="display: none;">
        <h1 id="count_num">5</h1>
      </div>
      <div class="container" id="team_list" style="display: none;">
        <div id="list_body">
        </div>
      </div>
    </div>
    <div class="col s12 center input-field">
      <div id="week_div" style="width: 20%; margin: auto;">
        <%= number_field_tag "week", nil, placeholder: "주차를 입력하세요", value: @this_week %>
      </div>
      <button id="lotto_btn" class="btn blue">뽑기</button>
    </div>
  </div>
</div>
<script type="text/javascript" src="/assets/myAdmin.js"></script>
<script type="text/javascript">
$(document).ready(function(){
  $('#lotto_btn').click(function(e){
    $.ajax({
      url: "/admin/team_lotto_proc",
      dataType: "json",
      data: {
        week: $('#week').val()
      },
      success: function(data){
        $('#team_list').hide();
        $('#count_down').show();
        $('#count_num').text(1);
        $.count_down(1, data);
      },
      error: function(){
        alert('으아니 에러라니!');
      }
    });
  });
});
</script>
