<div class="container">
  <h1>팀현황</h1>
  <% for i in Team.last.week.downto(0) %>
    <div class="row">
      <div style="background-color:#190171;" class="card darken-1">
        <span style="padding:1rem; color:#fff;" class="card-title"> <%= i  %>주차 </span>
        <div class="row">
          <% Team.where(week:i).each do |team| %>
            <div class="col s3">
              <div class="card-content white-text">
                <center>
                  <div class="card center" id="teamrank">
                    <span class="card-title"> <%= team.team_number %>조</span>
                    <br>
                    <% team.users.each do |user| %>
                      <p> <%= user.name %> </p>
                    <% end %>
                  </div>
                </center>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
