// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.team_number {
  font-size: 1.5rem;
  padding: 2rem;
  display: none;
}

.member_name {
  font-size: 1.5rem;
  padding: 1rem;
  display: none;
  width: 4rem !important;
  color: black;
}

#list_body {
  padding: 2rem;
}

#picked {
  display: none;
}
