/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* { -webkit-text-size-adjust:none; max-width:100%; }
html {
  background-color: black;
  color: white;
}

body {
  background-color: black;
  color: white;
}

.snu_color {
  background-color: rgb(24, 24, 24);
}

.brand-logo {
  width: inherit;
  max-width: 20%;
  height: 40px;
  position: absolute;
  top: 10px;
  left: 0;
}

.snu_color_text {
  color: rgb(0, 57, 127);
}

.btn, .btn-large{
  background-color: rgb(0, 57, 127) !important;
}

.btn:hover, .btn-large:hover {
  background-color: rgb(33, 97, 175) !important;
}

.introduction_row i {
  font-size: 10rem;
}

.introduction_row p {
  font-size: 1.4rem;
}

.introduction_row div {
  height: 20rem;
  -webkit-transition: background 0.2s linear;
  -moz-transition: background 0.2s linear;
  -ms-transition: background 0.2s linear;
  -o-transition: background 0.2s linear;
  transition: background 0.2s linear;
}

.introduction_row div:hover {
  background-color: rgb(66, 66, 66);;
}

.center {
  margin-top: 5rem;
}
.logo {
    color: #fff;
    text-decoration: none; 
}
h2 { 
  font-size: auto;
  }
.logo_image {
  width: inherit;
  max-width: 25%;
  height: auto;
}
.title {
  font-size: 2vw;
  margin: 5px 0 -10px 0;
  text-align: center;
}

nav ul a:hover, a:active{
  transition: background-color .3s;
  font-size: 1rem;
  color: #fff;
  display: block;
  padding: 0 15px;
  cursor: pointer;
}

.carousel {
  height: 514.281px;
}

header {
    height:100%;
    display: table;
    position: relative;
    color: #fff;
    background: no-repeat center center fixed;
    background-size: cover;
    -o-background-size: cover;
    background-image: url('/assets/main_background_image.jpg')
}

.snu_color {
  background-color: rgb(21,56,136) !important;
}

.default_color{background-color:#2196F3 !important}.default_color_text{color:#2196F3 !important}.icon-block{padding:0
15px}#intro,#work,#team{padding-top:4rem}#index-banner{min-height:632px;max-height:864px;position:relative;background-color:#2196F3}#nav_f{box-shadow:none !important;-webkit-box-shadow:none !important}.text_h{padding:15% 0;font-size:6.0em;font-weight:100;color:white}.brand-logo{position:absolute;color:#fff;display:inline-block;font-size:2.1rem;font-style:normal;font-weight:100;padding:0;letter-spacing:7px}.text_h2{font-weight:100;margin-bottom:4%;line-height:4.5rem}.span_h2{font-weight:300;color:#2196F3}.text_b{color:#2196F3}.in{font-weight:400 !important;font-style:normal !important}.promo
i{color:#2196F3;font-size:7rem;display:block}.card-content
a{color:#2196F3}.card-content a:hover{color:#2196F3}#work,#team{background:rgb(247,247,247)}.text_pink{color:#EF9A9A}nav ul
a{font-size:1.2rem;color:#FFF;letter-spacing:2px;display:block;font-weight:300;padding:0px
15px}.cd-headline.type .cd-words-wrapper{vertical-align:top;overflow:hidden}.cd-headline.type .cd-words-wrapper::after{content:'';position:absolute;right:0;top:50%;bottom:auto;-webkit-transform:translateY(-50%);-moz-transform:translateY(-50%);-ms-transform:translateY(-50%);-o-transform:translateY(-50%);transform:translateY(-50%);height:90%;width:1px;background-color:#aebcb9}.cd-headline.type .cd-words-wrapper.waiting::after{-webkit-animation:cd-pulse 1s infinite;-moz-animation:cd-pulse 1s infinite;animation:cd-pulse 1s infinite}.cd-headline.type .cd-words-wrapper.selected{background-color:#FFF}.cd-headline.type .cd-words-wrapper.selected::after{visibility:hidden}.cd-headline.type .cd-words-wrapper.selected
b{color:#2196F3}.cd-headline.type
b{visibility:hidden}.cd-headline.type b.is-visible{visibility:visible}.cd-headline.type
i{position:absolute;visibility:hidden}.cd-headline.type
i.in{position:relative;visibility:visible}@-webkit-keyframes cd-pulse{0%{-webkit-transform:translateY(-50%) scale(1);opacity:1}40%{-webkit-transform:translateY(-50%) scale(0.9);opacity:0}100%{-webkit-transform:translateY(-50%) scale(0);opacity:0}}@-moz-keyframes cd-pulse{0%{-moz-transform:translateY(-50%) scale(1);opacity:1}40%{-moz-transform:translateY(-50%) scale(0.9);opacity:0}100%{-moz-transform:translateY(-50%) scale(0);opacity:0}}@keyframes cd-pulse{0%{-webkit-transform:translateY(-50%) scale(1);-moz-transform:translateY(-50%) scale(1);-ms-transform:translateY(-50%) scale(1);-o-transform:translateY(-50%) scale(1);transform:translateY(-50%) scale(1);opacity:1}40%{-webkit-transform:translateY(-50%) scale(0.9);-moz-transform:translateY(-50%) scale(0.9);-ms-transform:translateY(-50%) scale(0.9);-o-transform:translateY(-50%) scale(0.9);transform:translateY(-50%) scale(0.9);opacity:0}100%{-webkit-transform:translateY(-50%) scale(0);-moz-transform:translateY(-50%) scale(0);-ms-transform:translateY(-50%) scale(0);-o-transform:translateY(-50%) scale(0);transform:translateY(-50%) scale(0);opacity:0}}#preloader{position:fixed;top:0;left:0;right:0;bottom:0;background-color:#fff;z-index:1200}#status{width:200px;height:200px;position:absolute;left:50%;top:50%;background-image:url(/img/status.gif);background-repeat:no-repeat;background-position:center;margin:-100px 0 0 -100px}@media only screen and (max-width: 480px){.text_h{padding:4% 0;font-size:5em;font-weight:100;color:white}}input,textarea{border-bottom:1px solid #fff}nav a.button-collapse{left:-25px}.card-avatar .waves-effect{text-align:center;margin-top:20px}.card-avatar
img{height:150px;width:150px;border-radius:75px}.card-avatar .card-content{text-align:center}.card .card-content
p{margin:15px
0px}.card-avatar .card-content
i{font-size:1.5rem}.card-avatar .card-content .card-title{line-height:30px !important}.parallax-container{max-height:400px}footer.page-footer{margin-top:0px !important}

@font-face {
    font-family: 'GODOM';
    src: url('/fonts/GODOM.ttf');
}

body{
  font-family:"GODOM",serif;
}
