/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html {
  background-color: black;
  color: white;
}

body {
  background-color: black;
  color: white;
}

.snu_color {
  background-color: rgba(30, 30, 30, .8);
  -webkit-transition: background-color 0.5s ease-in-out;
  -moz-transition: background-color 0.5s ease-in-out;
  -ms-transition: background-color 0.5s ease-in-out;
  -o-transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
}

.brand-logo {
  width: inherit;
  max-width: 20%;
  height: auto;
  position: absolute;
  top: 10px;
  left: 0;
}

.snu_color_text {
  color: rgb(0, 57, 127);
}

.btn, .btn-large{
  background-color: rgb(0, 57, 127) !important;
}

.btn:hover, .btn-large:hover {
  background-color: rgb(33, 97, 175) !important;
}

.introduction_row i {
  font-size: 10rem;
}

.introduction_row p {
  font-size: 1.4rem;
}

.introduction_row div {
  height: 20rem;
  -webkit-transition: background 0.2s linear;
  -moz-transition: background 0.2s linear;
  -ms-transition: background 0.2s linear;
  -o-transition: background 0.2s linear;
  transition: background 0.2s linear;
}

.introduction_row div:hover {
  background-color: rgb(66, 66, 66);;
}

nav ul a:hover, a:active{
  transparent: 
  transition: background-color .3s;
  font-size: 1rem;
  color: #fff;
  display: block;
  padding: 0 15px;
  cursor: pointer;
}

.carousel {
  height: 514.281px;
}
