/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* { -webkit-text-size-adjust:none; max-width:100%; }
html {
  background-color: black;
  color: white;
}
@font-face {
    font-family: 'NotoSansCJKkr-Regular';
    src: url('/fonts/NotoSansCJKkr-Regular.otf');
}
body {
  font-family: "NotoSansCJKkr-Regular";
  background-color:#FFFFFF;
  color: black;
  letter-spacing: 0px;
}

.brand-logo {
  width: inherit;
  min-width: 15%;
  height: 40px;
  position: absolute;
  top: 10px;
  left: 0;
}

h2 {
  font-size: auto;
  }
  
.logo_image {
  width: inherit;
  max-width: 25%;
  height: auto;
}
.title {
  font-size: 2vw;
  margin: 5px 0 -10px 0;
  text-align: center;
}


nav ul a:hover, a:active{
  transition: background-color .3s;
  font-size: 1rem;
  color: #091971;
  display: block;
  padding: 0 15px;
  cursor: pointer;
  letter-spacing: 0px;
}

.snu_color {
  background-color: #f2f2f2 !important;
}

.snu_text {
  color: black !important;
}

#intro,#work,#team{
  padding-top:4rem;
}

#index-banner{
  min-height:632px;
  max-height:864px;
  position:relative;
  background-size: cover;
}
#nav_f{
  box-shadow:none !important;
  -webkit-box-shadow:none !important
}
.brand-logo{
  position:absolute;color:#fff;display:
  inline-block;font-size:2.1rem;
  font-style:normal;
  font-weight:100;
  padding:0;
  letter-spacing:7px;
}
.text_h2{font-weight:100;font-size:5.5vw;margin-bottom:4%;line-height:7vw;color:black;}
.span_h2{font-weight:300;color:rgb(85,105,200)}
.text_b{color:rgb(143,170,220)}.in{font-weight:400 !important;font-style:normal !important}
.promo i{color:rgb(143,170,220);font-size:7rem;display:block}
#schedule,#apply{background:#FFFFFF}
nav ul a{letter-spacing: 0px !important; font-size:1rem; color:#091971 !important; display:block;font-weight:300;padding:0px 15px}
.cd-headline.type .cd-words-wrapper{vertical-align:top;overflow:hidden}
.cd-headline.type .cd-words-wrapper::after{content:'';position:absolute;right:0;top:50%;bottom:auto;-webkit-transform:translateY(-50%);-moz-transform:translateY(-50%);-ms-transform:translateY(-50%);-o-transform:translateY(-50%);transform:translateY(-50%);height:90%;width:1px;background-color:#aebcb9}
.cd-headline.type .cd-words-wrapper.waiting::after{-webkit-animation:cd-pulse 1s infinite;-moz-animation:cd-pulse 1s infinite;aanimation:cd-pulse 1s infinite}
.cd-headline.type .cd-words-wrapper.selected{}
.cd-headline.type .cd-words-wrapper.selected::after{visibility:hidden}
.cd-headline.type .cd-words-wrapper.selected b{color:#fff}
.cd-headline.type b{visibility:hidden}
.cd-headline.type b.is-visible{visibility:visible}
.cd-headline.type i{position:absolute;visibility:hidden}
.cd-headline.type i.in{position:relative;visibility:visible}
#preloader{position:fixed;top:0;left:0;right:0;bottom:0;background-color:#fff;z-index:1200}

.slider .indicators .indicator-item.active {
  background-color: #153888;
}
.portfolio-box{display:block;position:relative;margin:0 auto;}
.portfolio-box .portfolio-box-caption{display:block;position:absolute;bottom:0;width:100%;height:100%;text-align:center;color:#fff;opacity:0;background:rgba(0,0,0,0.75);-webkit-transition:all .35s;transition:all .35s}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content{position:absolute;top:50%;width:100%;text-align:center;-webkit-transform:translateY(-50%);transform:translateY(-50%)}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name{padding:0 15px;font-family:'Roboto','Noto-Sans','Helvetica Neue',Arial,sans-serif}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category{text-transform:uppercase;font-size:14px;font-weight:600}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name{font-size:18px}
.portfolio-box:hover .portfolio-box-caption{opacity:1}
@media (min-width: 768px){.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category{font-size:16px}.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name{font-size:30px}}
#operators .portfolio-box .portfolio-box-caption{border-radius:50%;}

.apply_btn {
  margin: 0 1rem;
  display: inline-block !important;
  background-color: #153888;
  color: white;
  padding: 1rem 3rem !important;
  font-size: 3rem !important;
  border-radius: 2rem;
  -o-transition:background 0.2 ease-in;
  -ms-transition:background 0.2s ease-in;
  -moz-transition:background 0.2s ease-in;
  -webkit-transition:background 0.2s ease-in;
  transition:background 0.2s ease-in;
}

.apply_btn:hover {
  background-color: #2D57B6;
}
.wow{
    display: table;
    position: relative;
    color: #fff;
    width: 100%;
    height: 200px;
    background: no-repeat center center scroll;
    background-size: cover;
}

#title2{
  margin-top: 3.5rem;
  font-size: 10vw;
  text-align: center;
  margin-bottom: 0rem;
}

footer.page-footer {
  margin-top: 0;
  background-color: rgb(143,170,220);
}
.wow{
    display: table;
    position: relative;
    color: #fff;
    width: 100%;
    height: 240px;
    background: no-repeat center center scroll;
    background-size: cover;
}

/*@media only screen and (max-device-width : 480px) {
/* Styles
    .text_h{
        padding: 15% 0;
        font-size: 3.0em;
        font-weight: 100;
        color: rgb(9, 25, 113);
    }
}*/
@media only screen and (min-width : 0px) {
/* Styles */
    .text_h{
            padding: 20% 0;
            font-size: 10vw;
            font-weight: 100;
            color: #FFFFFF;
    }
}


@media only screen and (max-width : 425px) {
 /*Styles*/
  #title2{  
      margin-top: 5rem;
}
  }
}

.select-wrapper input.select-dropdown{
  font-size:130%;
}
button, input, optgroup, select, textarea{
      color: #091971;
}

#wrapper {
	width: 90%;
	max-width: 1100px;
	min-width: 800px;
	margin: 50px auto;
}

#columns {
	-webkit-column-count: 3;
	-webkit-column-gap: 10px;
	-webkit-column-fill: auto;
	-moz-column-count: 3;
	-moz-column-gap: 10px;
	-moz-column-fill: auto;
	column-count: 3;
	column-gap: 15px;
	column-fill: auto;
}

.pin {
	display: inline-block;
	background-color: black;
	border: 2px solid #8E5E41;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	margin: 0 2px 15px;
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	column-break-inside: avoid;
	padding: 15px;
	padding-bottom: 5px;
	opacity: 1;
	 background-color: #8E5E41;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
	 border-top-left-radius: 7em;
  border-bottom-right-radius: 2em;
  border-bottom-left-radius: 2em;
}

.pin img {
	width: 100%;
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
	margin-bottom: 5px;
}

.pin p {
	font: 12px/18px Arial, sans-serif;
	color: #333;
	margin: 0;
}

@media (min-width: 960px) {
	#columns {
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
	}
}

@media (min-width: 1100px) {
	#columns {
		-webkit-column-count: 3;
		-moz-column-count: 3;
		column-count: 3;
	}
}

#assigntitle{
  color:white;
}

 .section.no-pad-bot {
   padding-top : 2rem;
 }
 .select-dropdown{
    text-align: center;
    font-size: 200%;
 }

.mdi-navigation-menu:before {
    color: #091971;
}

.title_sub{
    text-align: center;
    font-size: 5vw;
    margin-top: 0rem;
}
